@import url(reset.css);
@import url(colors.css);
@import url(header.css);
@import url(footer.css);
@import url(txt.css);

button {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 9px 32px;
    border: 1px solid var(--primary);
    border-radius: 1000px;
    background-color: var(--btn);
}

main {
    padding: 16px;
    padding-top: 50px;
}

.right_row {
    display: flex;
    flex-direction: row;
    justify-content: right;
    column-gap: 8px;
    padding-right: 16px;
}

.main_row {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    padding: 16px;
}

.main_row img {
    width: 100%;
}

.random_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.random_image_container {
    overflow: hidden;
    width: 90%;
    margin-right: -32px;
}

.random_image_list {
    max-height: 700px;
    padding-bottom: 16px;
}

.inverted_bar {
    background-color: var(--design-bar);
    margin: 16px;
    margin-top: -16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button:hover {
    background-color: var(--primary);
    border-color: var(--btn);
    color: var(--btn);
}

button:hover h3, button:hover h2 {
    color: var(--btn);
}

@media (width <= 700px){
	.inverted_bar {
        display: none;
    }

    .logo {
        padding: 0;
        margin-right: calc(50% - 75px);
        margin-bottom: -30px;
    }

    .footer_center_row {
        flex-direction: column;
        align-items: center;
    }

    .right_row {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 16px;
        row-gap: 8px;
        padding-right: 0;
    }

    .random_image_text {
        writing-mode: horizontal-tb;
    }
    
    .random_image_container {
        width: 100%;
        margin: 0;
    }

    .searchbar {
        width: fit-content;
    }

    .main_row {
        flex-wrap: wrap;
    }

    header {
        flex-direction: column;
        align-items: end;
    }

    #menu_toggle {
        display: none;
    }

    .menu_icon {
        display: block;
        font-size: 32px;
        cursor: pointer;
        user-select: none;
        margin-right: 16px;
        margin-bottom: 4px;
    }

    nav {
        border-bottom: 1px solid black;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: start;
        padding: 0;
        background-color: var(--btn);
    }

    nav ul:has(input) {
        border-top: 1px solid black;
    }

    #menu_toggle:checked ~ nav ul {
        display: flex;
    }

    .underlining {
        top: 178px;
    }

    .underlining_collection {
        top: 213px;
    }

    .flag_list {
        justify-content: center;
        flex-direction: row;
        column-gap: 8px;
        border: 1px solid black;
        width: 100%;
        border-left: none;
        border-right: none;
    }

    li:has(.flag_list) {
        width: 100%;
    }

    nav .searchbar {
        width: calc(100% - 32px);
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    nav a, nav li:has(button) {
        width: 100%;
    }

    nav button {
        width: 100%;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
}