@import url(reset.css);
@import url(colors.css);
@import url(header.css);
@import url(footer.css);
@import url(txt.css);

button {
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 9px 32px;
	border: 1px solid var(--primary);
	border-radius: 1000px;
	background-color: var(--btn);
}

main {
	padding: 16px;
	padding-top: 50px;
}

.right_row {
	display: flex;
	flex-direction: row;
	justify-content: right;
	column-gap: 8px;
	padding-right: 16px;
}

.main_row {
	display: flex;
	flex-direction: row;
	column-gap: 16px;
	padding: 16px;
}

.main_row_img {
	width: 100%;
	min-width: 80%;
}

.random_image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.random_image_container {
	overflow: hidden;
	width: 90%;
	
}

.random_image_list {
	max-height: 500px;
	padding-bottom: 16px;
}

.inverted_bar {
	background-color: var(--design-bar);
	margin: 16px;
	margin-top: -16px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px;
	column-gap: 8px;
}

.sort_icon {
	filter: brightness(0%);
	width: 24px;
}

button:has(.sort_icon) {
	padding: 4px;
}

.top_bar {
	justify-content: end;
	padding-right: 16px;
	margin-left: 15%;
	margin-right: 5%;
}

main:has(.top_bar) {
	padding-top: 16px;
}

.button_center {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}

.button_center button {
	font-size: 24px;
}

.full_width {
	width: 100%;
}

.top_bar .searchbar input, .top_bar .searchbar {
	width: 100%;
}

.filtered_image_container img {
	width: 100%;
}

ul:has(.filtered_image_container) {
	padding: 16px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 16px;
}

ul.row {
	padding-right: 0;
	padding-left: 0;
}

.filtered_image_container:hover #filtered_image_txt {
	display: block;
	position: absolute;
	background-color: rgba(72, 72, 72, 0.9);
	padding: 8px;
	width: calc(20% - 40px);
	border-radius: 8px;
}

button:hover .sort_icon, button:hover #lft, button:hover #rgt {
    filter: invert(36%) sepia(91%) saturate(381%) hue-rotate(327deg) brightness(93%) contrast(91%);
}

#overlay {
	display: none;
}

button:hover {
	background-color: var(--primary);
	border-color: var(--btn);
	color: var(--btn);
}

button:hover h3,
button:hover h2 {
	color: var(--btn);
}

.main_row li{
    position: relative;
}

.foto{
    display: block;
}

.marker-overlay{
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    opacity: 0;
    transition: 0.3s;
	z-index: 100;
}

.marker-overlay-arrow {
	position: absolute;
    top: -15%;
    left: -15%;
    width: 40%;
    opacity: 0;
    transition: 0.3s;
	z-index: 100;
}

.main_row li:hover .marker-overlay, .main_row li:hover .marker-overlay-arrow{
    opacity: 1;
}

.top-bar img {
	width: 24px;
}

.dropdown_content button {
	width: 105%;
	border-radius: 16px;
}

button.dropdown_content_first {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

button.dropdown_content_last {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

button.dropdown_content_middle {
	border-radius: 0;
}

.dropdown_content {
	position: absolute;
	display: none;
}

.filtered_image, .cross {
    cursor: pointer;
}

.filtered_image {
	height: 200px;
	object-fit: cover;
	object-position: center;
	overflow: hidden;
}

#date, #location {
	margin: 0;
}

@media (width <= 1000px) {
	.filter_row {
		grid-template-columns: repeat(1, 1fr);
	}

	.overlay {
		display: grid;
		grid-template-columns: 1fr 8fr 1fr;
		grid-template-rows: 40% 60%;
	}

	.info_panel_container {
    	grid-column: 2;
		width: 100%;
	}
}

@media (width <= 700px) {
	.button_center button {
		font-size: 14px;
	}

	.inverted_bar {
		display: none;
	}

	ul:has(.filtered_image_container) {
		grid-template-columns: repeat(2, 1fr);
	}

	.filter_container {
		margin: 0;
	}
	
	.top_bar {
		margin: 0;
		padding: 0;
	}

	.logo {
		padding: 0;
		margin-right: calc(50% - 75px);
		margin-bottom: -30px;
	}

	.footer_center_row {
		flex-direction: column;
		align-items: center;
	}

	.footer_row, .footer_row p {
		overflow-wrap: break-word;
		word-break: break-word;
	}
	
	.row {
		flex-wrap: wrap;
	}

	.right_row {
		flex-direction: column-reverse;
		align-items: center;
		padding-bottom: 16px;
		row-gap: 8px;
		padding-right: 0;
	}

	.random_image_text {
		writing-mode: horizontal-tb;
	}

	.random_image_container {
		width: 100%;
		margin: 0;
	}

	.searchbar {
		width: fit-content;
	}

	.main_row {
		flex-wrap: wrap;
		width: 80%;
		margin: auto;
	}

	header {
		flex-direction: column;
		align-items: end;
	}

	#menu_toggle {
		display: none;
	}

	.menu_icon {
		display: block;
		font-size: 32px;
		cursor: pointer;
		user-select: none;
		margin-right: 16px;
		margin-bottom: 4px;
	}

	nav {
		border-bottom: 1px solid black;
	}

	nav ul {
		display: none;
		flex-direction: column;
		align-items: start;
		padding: 0;
		background-color: var(--btn);
	}

	nav ul:has(input) {
		border-top: 1px solid black;
	}

	#menu_toggle:checked ~ nav ul {
		display: flex;
	}

	.underlining {
		top: 178px;
	}

	.underlining_collection {
		top: 213px;
	}

	.flag_list {
		justify-content: center;
		flex-direction: row;
		column-gap: 8px;
		border: 1px solid black;
		width: 100%;
		border-left: none;
		border-right: none;
	}

	li:has(.flag_list) {
		width: 100%;
	}

	nav .searchbar {
		width: calc(100% - 32px);
		border-left: none;
		border-right: none;
		border-radius: 0;
	}

	nav a,
	nav li:has(button) {
		width: 100%;
	}

	nav button {
		width: 100%;
		border-left: none;
		border-right: none;
		border-radius: 0;
	}
}
