@import url("https://use.typekit.net/bmq3fwl.css");

body {
	font-family: "ocr-b-std", monospace;
	background-color: black;
}

.random_image_text {
	color: var(--special-txt);
	font-size: 12px;
	writing-mode: sideways-lr;
	max-height: 300px;
}

li:has(.random_image_text) {
	display: flex;
	align-items: end;
}

.inverted_bar_text {
	font-size: 200%;
	transform: scale(-1, -1);
	padding-bottom: 4px;
}

.inverted_bar_text h2 {
	color: var(--special-txt);
}

#filtered_image_container p {
	color: var(--special-txt);
	font-size: 12px;
}

.sorteren_dropdown {
	padding: 8px;
}

.dropdown_arrow {
	transform: rotate(90deg);
}

.filter_container h2,
.filter_container p {
	color: var(--btn);
}

.filter_container {
	border: 2px solid var(--btn);
	border-radius: 20px;
	padding: 16px;
	width: 90%;
	margin: auto;
}

.filter_row {
	padding: 16px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
}

.typ {
	width: 75px;
	height: 25px;
	background-color: var(--btn);
	border: 2px solid var(--btn);
	border-radius: 24px;
	text-align: center;
}

.checkbox {
	width: 25px;
	height: 25px;
	background-color: var(--btn);
	border: 2px solid var(--btn);
	border-radius: 3px;
}
